:root {
  --color-bg-1: #25262a;
  --color-bg-2: #2d2e32;
  --color-text-1: rgb(230, 230, 230);
  --color-text-2: #85878d;
  --color-primary: #49b77f;

  --font-default: "Roboto", sans-serif;
  --font-heading: "Titillium Web", sans-serif;
  --font-sub-heading: "Ubuntu", sans-serif;
  --font-italic: "Raleway", sans-serif;
}
